@using PagedList
@using PagedList.Mvc
@model IPagedList<tanerBlog.Models.Articles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p class="label-danger col-md-4">
    Please click to Details button to see Articles' Content
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Date
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yazar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticlesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticlesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticlesId })
        </td>
    </tr>
}

</table>

<div class="pagedList">
    @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
<script src="~/Content/jquery.js"></script>
<script src="~/Content/custom.js"></script>
<script src="~/Content/paginate.js"></script>